
li {
    color: hsl(173, 26%, 58%);
    font-size: 20px;
    padding-left:90px;
}   
.title {
    background-color: blue;
}
#protocolo  {
    background-color: crimson;
}
.title {
    color: darkgoldenrod;
}
.caja1 {
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}
.caja2 {
    width: 100px;
    height: 100px;
    background-color: #dd0000;
}
.caja3 {
    width: 100px;
    height: 100px;
    background-color: #007b8b;
}
#mainbox{
    justify-content: center;
    flex-direction: row;
    border: 8px solid black;
    display: flex;
    align-items:flex-end;
}